In [1]:
PATH_TO_FOODDATA_CENTRAL_DIR = "./FoodData_Central_csv_2024-04-18"
PATH_TO_PROCESSED_DATA_DIR = "./processed_data"

In [ ]:
import pandas as pd

In [2]:
raw_nutrient_file_name = "food_nutrient.csv"
raw_nutrient_path = f"{PATH_TO_FOODDATA_CENTRAL_DIR}/{raw_nutrient_file_name}"

df_nutrients_raw = pd.read_csv(raw_nutrient_path)
df_nutrients_raw

/var/folders/wl/xhcccn7d6070dp98421p71nc0000gn/T/ipykernel_87852/3984717742.py:6: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_nutrients_raw = pd.read_csv(raw_nutrient_path)

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,percent_daily_value
0,13706927,1105904,1257,0.00,NaN,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13706930,1105904,1293,53.33,NaN,71.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,13706926,1105904,1253,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,13706921,1105904,1092,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,13706916,1105904,1008,867.00,NaN,71.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26455317,33849770,2688921,1114,0.00,NaN,78.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
26455318,33849762,2688921,1008,250.00,NaN,78.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
26455319,33849769,2688921,1093,45.00,NaN,78.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0
26455320,33849763,2688921,2000,0.00,NaN,78.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0
26455321,33849764,2688921,1079,0.00,NaN,78.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [3]:
cols = ["fdc_id", "nutrient_id", "amount"]

mi_nutrients = df_nutrients_raw[cols].groupby(cols[:-1]).agg(lambda x: x)
mi_nutrients

                    amount
fdc_id  nutrient_id
167512  1003          5.88
        1004         13.24
        1005         41.18
        1007           3.5
        1008         307.0
...                    ...
2688921 1235           0.0
        1253          75.0
        1257           0.0
        1258           7.0
        2000           0.0

[26453153 rows x 1 columns]

In [4]:
df_nutrients = mi_nutrients.unstack(level=1).droplevel(0, axis=1)
df_nutrients

In [ ]:
df_nutrients.eq(0.0).any().any()